WebAppSoapUI/WebContent/wsdl/Usuario.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapui.anzen.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapui.anzen.com" xmlns:intf="http://soapui.anzen.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapui.anzen.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="altaAlumno">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="altaAlumnoResponse">
    <complexType>
     <sequence>
      <element name="altaAlumnoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="altaAlumnoResponse">

      <wsdl:part element="impl:altaAlumnoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="altaAlumnoRequest">

      <wsdl:part element="impl:altaAlumno" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Usuario">

      <wsdl:operation name="altaAlumno">

         <wsdl:input message="impl:altaAlumnoRequest" name="altaAlumnoRequest">

       </wsdl:input>

         <wsdl:output message="impl:altaAlumnoResponse" name="altaAlumnoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UsuarioSoapBinding" type="impl:Usuario">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="altaAlumno">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="altaAlumnoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="altaAlumnoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UsuarioService">

      <wsdl:port binding="impl:UsuarioSoapBinding" name="Usuario">

         <wsdlsoap:address location="http://localhost:8082/WebAppSoapUI/services/Usuario"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
